/**
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
  font-family: 'FirewireBlack';
  src: url("/fonts/firewire_black-webfont.eot");
  src: url("/fonts/firewire_black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firewire_black-webfont.woff") format("woff"), url("/fonts/firewire_black-webfont.ttf") format("truetype"), url("/fonts/firewire_black-webfont.svg#m47_fire_wire_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Firewire';
  src: url("/fonts/firewire-webfont.eot");
  src: url("/fonts/firewire-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firewire-webfont.woff") format("woff"), url("/fonts/firewire-webfont.ttf") format("truetype"), url("/fonts/firewire-webfont.svg#m47_fire_wire_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EditUndoLine';
  src: url("/fonts/edunline-webfont.eot");
  src: url("/fonts/edunline-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/edunline-webfont.woff") format("woff"), url("/fonts/edunline-webfont.ttf") format("truetype"), url("/fonts/edunline-webfont.svg#edit_undo_line_brkregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  padding: 15px;
}

h1 {
  text-align: center;
  color: #999;
  font-weight: 400;
  font-family: 'Montserrat', 'sans-serif', 'Verdana', sans-serif;
  margin-bottom: 20px;
}

h1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

h1:before, h1:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: '\a0';
  background: linear-gradient(to right, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #800080);
  /* Standard syntax */
}

h1:before {
  margin-left: -50%;
  text-align: right;
}

#canvasWrapper canvas {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

/* DAT.gui */
.dg.ac {
  z-index: 100 !important;
}

.dg input, 
.dg select, 
.dg button, 
.dg textarea { 
  color: black;
}

/* Font preloading divs: In order to ensure the webfonts are ready by the time canvas is ready to used them,
 * we force a preloading directly within a HTML tag before rendering the canvas element
 */
.fontPreload {
  position: absolute;
  float: left;
  left: -100px;
  font-size: 1px;
}

.Firewire {
  font-family: "Firewire";
}

.FirewireBlack {
  font-family: "FirewireBlack";
}
